*{
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    max-width: 60em;
}
.body {
    display:grid;
    grid-gap: 1em;
    grid-template-areas:
    "haus"
    "topnav"
    "main"
    "foot"
}

.main {
    display:grid;
    grid-gap: 1em;
    grid-template-areas:
        "as1 art1 as2";
    grid-template-columns: 1fr 3fr 1fr;
}

.foot {
    grid-area: foot;
}

.haus {
    grid-area: haus;
    text-align: center;
    color: #A37939;
}

.as1 {
    grid-area: as1;
    border-right: 1px solid black;
    padding-right: 1em;
}

.as2 {
    grid-area: as2;
    border-left: 1px solid black;
    padding-left: 1em;
}

.art1 {
    grid-area: art1;
}
/*-- Flex box --*/
.topmenu, .footmenu {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    margin: 0;
    padding:1em;
    background-color: #ddd;
}

.topmenu li, .footmenu li {
    list-style-type: none;
}

.quote {
    margin: 1em 2em;
    padding: 1em;
    border: 1px solid black;
}