*{
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    max-width: 70em;
    font-family: 'Carrois Gothic', sans-serif;
    background-color: #1A152D;
    color: #A9C3A5;
}
.body {
    display:grid;
    grid-gap: 1em;
    grid-template-areas:
    "haus"
    "topnav"
    "main"
    "foot"
}

.foot {
    grid-area: foot;
}

.haus {
    grid-area: haus;
    text-align: center
}

.as1 {
    grid-area: as1;
    padding-right: 1em;
    border-bottom: 1px solid #362F52;
    text-align: center
}

.as2 {
    grid-area: as2;
    padding-left: 1em;
}

.art1 {
    grid-area: art1;
    text-align: center;
    border-right: 1px solid #362F52
}

.main {
    display:grid;
    padding: 1em;
    grid-template-areas:
        "art1 as1 as1 as1"
        "art1 as2 as2 as2";
    grid-template-columns: 5fr 5fr 1fr;
}
/*-- Flex box --*/
.topmenu, .footmenu {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    margin: 0;
    padding:1em;
    background-color: #54536C;
}

.topmenu li, .footmenu li {
    list-style-type: none;
}

.nav, a:hover{
    background-color: #434357;
}