*{
    box-sizing: border-box;
}
body {
    border: 2px solid blue;
    margin: 1em auto;
    padding: 1em;
    max-width: 50em;
}
.bigL {
    float: left;
    font-size: 4em;
}
.box {
    float: left;
    width: 50%;
    padding: 1em;
    border: 1px solid;
}
.imgR {
    float: right;
    width: 12em;
    padding-left: .5em;
}
/*CLEARFIX*/
.group:before, .group:after {
    content: "";
    display: table;
}
.group {
    float: none;
}
.group {
    clear: both;
}