*{
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    max-width: 100em;
    font-family: 'Ubuntu Mono', monospace;
    background-color: #3B3B3B;
    color: white
}
.body {
    display:grid;
    grid-gap: 1em;
    grid-template-areas:
    "haus"
    "topnav"
    "main"
    "foot";
}

.foot {
    grid-area: foot;
}

.haus {
    grid-area: haus;
    text-align: center;
    color: rgb(52, 190, 91);
    font-weight: 700;
    font-size: 2em
}

.as1 {
    grid-area: as1;
    padding-right: 1em;
    border-bottom: 1px solid rgb(52, 190, 91)
}

.as2 {
    grid-area: as2;
    padding-left: 1em;
}

.art1 {
    grid-area: art1;
    text-align: center;
    border-bottom: 1px solid rgb(52, 190, 91)
}

.main {
    display:grid;
    padding: 1em;
    grid-template-areas:
        "art1 art1 art1"
        "as1 as1 as1"
        "as2 as2 as2";
    grid-template-columns: 5fr 3fr 4fr;
}
/*-- Flex box --*/
.topmenu, .footmenu {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    margin: 0;
    padding:1em;
    background-color: rgb(52, 190, 91);
}

.topmenu li, .footmenu li {
    list-style-type: none;
}

.nav, a:hover{
    color: aqua;
    background-color: #2B9E4B;
}