*{
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    max-width: 120em;
    font-family: 'Merriweather', serif;
    background-color: #02529C;
    color:white;
}
.body {
    display:grid;
    grid-gap: 1em;
    grid-template-areas:
    "haus"
    "topnav"
    "main"
    "foot"
}

.main {
    display:grid;
    padding: 1em;
    grid-template-areas:
        "art1 art1 art1"
        "as1 as2 as2";
    grid-template-columns: 1fr 1fr 1fr;
}

.foot {
    grid-area: foot;
}

.haus {
    grid-area: haus;
    text-align: center;
    color: #DC1E35;
    font-weight: 700
}

.as1 {
    grid-area: as1;
    padding-left: 1em;
    text-align: center
}

.as2 {
    grid-area: as2;
    padding-right: 1em;
    border-left: 1px solid #DC1E35;
    text-align: center
}

.art1 {
    grid-area: art1;
    border-bottom: 1px solid #DC1E35;
}

/*-- Flex box --*/
.topmenu, .footmenu {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    margin: 0;
    padding:1em;
    background-color: #DC1E35;
}

.topmenu li, .footmenu li {
    list-style-type: none;
}

.nav, a:hover{
    color: #02529C;
    background-color: #A81828;
}

.nav, a{
    color: white;
}
