*{
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    max-width: 60em;
    font-family: 'Nanum Gothic', sans-serif;
    background-color: #000;
    color:white;
}
.body {
    display:grid;
    grid-gap: 1em;
    grid-template-areas:
    "haus"
    "topnav"
    "main"
    "foot"
}

.main {
    display:grid;
    padding: 1em;
    grid-template-areas:
        "art1 art1 art1"
        "as1 as2 as2";
    grid-template-columns: 5fr 5fr 1fr;
}

.foot {
    grid-area: foot;
}

.haus {
    grid-area: haus;
    text-align: center;
    color: blue
}

.as1 {
    grid-area: as1;
    padding-left: 1em;
    background: #000120;
    text-align: center
}

.as2 {
    grid-area: as2;
    padding-right: 1em;
    background: #000120;
    border-left: 1px solid blue;
    text-align: center
}

.art1 {
    grid-area: art1;
    border-bottom: 1px solid blue;
}

/*-- Flex box --*/
.topmenu, .footmenu {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    margin: 0;
    padding:1em;
    background-color: grey;
}

.topmenu li, .footmenu li {
    list-style-type: none;
}
